<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>DCVT Security</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
        
             @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                  font-size: 3.5rem;
                }
            }
        </style>

        <link href="css/cover.css" rel="stylesheet">
    </head>

    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                  <h3 class="float-md-start mb-0">DCVT</h3>
                  <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="homepage.html">Homepage</a>
                    <a class="nav-link" href="gate.html">Cổng kiểm soát</a>
                    <a class="nav-link" href="cus.html">Thông tin khách hàng</a>
                    <a class="nav-link" href="#">Lịch sử</a>
                  </nav>
                </div>
              </header>
          
            <main class="px-3">
                <svg class="bd-placeholder-img rounded-border" width="140" height="140" role="img" dy=".3em" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 179.74 342.64"><defs><style>.cls-1{fill:#7fc99c;}</style></defs><path class="cls-1" d="M139,5.44l-1.38,164.5V284.07l-65-64.68a46.55,46.55,0,0,1,24.18-6.72c7.43,0,13.54-.58,20.7,1.13V187.47A75.06,75.06,0,0,0,52.4,199.19L26,173H6.13v17.36l28,28.25A74.9,74.9,0,0,0,92.43,334.29v.15h76.74l3.06-329ZM50,259.5a46.59,46.59,0,0,1,4.59-20.23l66.43,67.06H96.87A46.83,46.83,0,0,1,50,259.5Z"/></svg>
                <h1>DCVT Security</h1>
                <p class="lead">My patience is waning, is this entertaining? <br>
                                Our patience is waning, is this entertaining?</p>
                <p class="lead">
                    <a href="gate.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Goooooo</a>
                </p>
            </main>
            <footer class="mt-auto text-white-50">
                <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
            </footer>
        </div> 
    </body>
</html>